html {
    display: flex;
    justify-content: center;
    background-color: rgb(156, 135, 107);
}

ul {
    list-style: none;
}

li {
    margin: 6px;
    margin-left: 0px;
}

h2 {
    color: tan;
}

button {
    margin-top: 12px;
    background-color: tan;
    border: 0px;
}

button:hover {
    background-color: rgb(94, 75, 53);
    color: white;
}

input {
    background-color: tan;
}

::placeholder {
    color: rgb(129, 85, 35);
}